[run]
omit = 
    */.venv/*
    */venv/*
    */__init__.py
    */migrations/*
    */tests.py
    */test_*

[report]
omit = 
    */.venv/*
    */venv/*
    */__init__.py
    */migrations/*
    */tests.py
    */test_*

exclude_lines =
    pragma: no cover

    pass

    def __repr__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:
